.QuoteList {
  &-header {
    padding-bottom: 30px;
    font-family: "OpenSans-semibold", serif;
  }

  &-header, &-quote {
    display: flex;
    align-items: center;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1 0 0;

      &:first-child {
        flex: 2 0 0;
      }

      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }

  &-quote {
    font-family: "OpenSans-lightitalic", serif;

    &:not(:last-child) {
      padding-top: 5px;
    }
  }

  &-back {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    --button-hover-color: #515151;
    --button-border-radius: 4px 4px 0 0;
  }

  &-actionContainer {
    flex: 0.5 0 0;
  }

  &-delete {
    width: 30px;
    height: 30px;
  }
}