@font-face {
  font-family: "OpenSans-bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-semibold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "OpenSans-lightitalic";
  src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "OpenSans-light";
  src: url("../fonts/OpenSans-Light.ttf");
}