@import '../../styles/_fonts.scss';

.Quote {
  &-logo {
    width: 100px;
    height: 100px;
  }

  &-logoContainerEnd {
    display: flex;

    img {
      margin: 0 0 0 auto;
      transform: rotate(180deg);
    }
  }

  &-logoTopContainer {
    display: flex;
    align-items: center;
  }

  &-title {
    font-family: $font-family-opensans-semibold;
    font-size: 40px;
    margin: 0 0 0 auto;
  }

  &-text {
    white-space: pre-wrap;
    font-family: $font-family-opensans-lightitalic;
    font-size: 20px;
  }

  &-info {
    font-family: $font-family-opensans-lightitalic;
    font-size: 18px;
  }
}
