@import "./main.scss";

.App-container {
  position: relative;
  height: 100%;
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
}

.App-buttonListContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.App-buttonContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.App-button {
  padding: 10px;
  color: aliceblue;
  background-color: #343434;
  border-radius: 4px;
  font-family: "OpenSans-semibold", serif;
  font-size: 13px;
  cursor: pointer;
}

.App-buttonList {
  border-radius: 0 0 4px 4px;
}

.App-button-light {
  background-color: #636363;
}

.App-button-light:hover, .App-button-light:focus {
  background-color: #838383;
}

.App-button:hover, .App-button:focus {
  background-color: #515151;
}

.App-buttonActivate {
  border-radius: 4px 4px 0 0;
}

.App-loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.App-loading {
  width: 64px;
  height: 64px;
}