@import "./main.scss";

.App {
  &-container {
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }

  &-buttonList, &-buttonAdd {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    --button-hover-color: #515151;
  }

  &-buttonList {
    top: 0;
    --button-border-radius: 0 0 4px 4px;
  }

  &-buttonAdd {
    bottom: 0;
    --button-border-radius: 4px 4px 0 0;
  }

  &-loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &-loading {
    width: 64px;
    height: 64px;
  }
}