@import '../styles/fontsface';
@import '../styles/fonts.scss';

html,body {
  font-family: $font-family-opensans-light;
  height: 100%;
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  -webkit-font-smoothing: inherit;
  outline: none;

  &:hover, &:focus {
    cursor: pointer;
  }
}

input, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  line-height: 1.2;
  white-space: normal;
  width: 100%;
  outline: none;
}