@font-face {
  font-family: "OpenSans-bold";
  src: url("../fonts/OpenSans-bold.ttf");
}

@font-face {
  font-family: "OpenSans-semibold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "OpenSans-lightitalic";
  src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "OpenSans-light";
  src: url("../fonts/OpenSans-Light.ttf");
}

html,body {
  font-family: "OpenSans-light", serif;
  height: 100%;
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  -webkit-font-smoothing: inherit;
  outline: none;

  &:hover, &:focus {
    cursor: pointer;
  }
}